.mobHeader{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5% 0 5%;
}
.mobHeader>.menu>.i{
    font-size: 40px;
    color: #253D4E;
    cursor: pointer;
    position: relative;
}
.mobHeader>.logo{
    width: 150px;
    height: 46px;
}
.mobHeader>.logo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobHeader>div:last-child{
    height: 70px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.mobHeader>div:last-child >div{
    cursor: pointer;
}
.mobHeader>div:last-child >div>.i{
    font-size: 30px;
    color: #253D4E;
}

.mobHeader>div:last-child >div>span{
    position: absolute;
    top: -10px;
    right: -10px;
}