.about{
    width: 85%;
    margin: 0 auto;
}

.about .bar{
    height: 60px;
}
.about .bar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.about .bar ul li a{
    font-size: 14px;
    font-weight: bold;
    color: #7E7E7E;
}
.about .bar ul li:first-child a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #3BB77E;
}

.about .bar ul>.i{
    font-size: 14px;
    color: #7E7E7E;
}

.about>.counters{
    position: relative;
    margin: 50px 0;
}

.about .counters>.img{
    width: 100%;
}
.about .counters>.img>img{
    width: 100%;
}
.about>.counters>.text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about>.counters>.text>div>h1{
    font-size: 72px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
}
.about>.counters>.text>div>h4{
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}

.about .mainTitle{
        font-size: 40px;
        color: #253D4E;
        text-align: center;
        margin-bottom: 50px;
}